.itemContainer {
  cursor: pointer;
  padding-bottom: 2rem;
}

.img {
  width: 8vw;
  transition: 0.3s;
}

.para {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: var(--color-font-3);
}

/********************************************/
/* Below 740px */
/********************************************/

@media (max-width: 46em) {
  .img {
    width: 10vw;
  }
}

/********************************************/
/* Below 512px */
/********************************************/

@media (max-width: 32em) {
  .img {
    width: 12vw;
  }
}
