.itemContainer {
  cursor: pointer;
  padding-bottom: 2rem;
  transition: 0.3s;
}
.itemContainer:hover {
  transform: scale(1.1);
}

.img {
  display: block;
  padding: 0.4rem;
  border-radius: 50%;
  width: 8vw;
}

.img.categorySet,
.img:hover {
  box-shadow: 0 0 0 1.5px var(--color-border) inset;
}

.para {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: var(--color-font-3);
}

/********************************************/
/* Below 740px */
/********************************************/

@media (max-width: 46em) {
  .img {
    width: 10vw;
  }
}

/********************************************/
/* Below 512px */
/********************************************/

@media (max-width: 32em) {
  .img {
    width: 12vw;
  }
}
