.foodSection {
  margin: 0 0 9.6rem 0;
}

.foodList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: 5rem;
  margin-top: 3rem;
}

.subHeading {
  font-size: 2.4rem;
}
