.heroSection {
  margin: 9.6rem 0;
}

.heroContainer {
  background-image: url("frontend_assets/header_img.png");
  background-size: cover;
  height: 74vh;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.heroContentBox {
  max-width: 50%;
  position: absolute;
  bottom: 15%;
  left: 6vw;
  animation: fadeIn 3s;
}

.heroHeading {
  font-size: 6.4rem;
  color: var(--color-font-white);
  font-weight: 600;
  margin-bottom: 3rem;
}

.heroPara {
  font-size: 2rem;
  color: var(--color-font-white);
  margin-bottom: 3rem;
}

.viewMenu {
  font-size: 2rem;
  padding: 1rem 3rem;
  color: var(--color-font-3);
  font-weight: 500;
  background-color: var(--color-font-white);
  border-radius: 300px;
  transition: 0.3s;
}

.viewMenu:hover {
  background-color: var(--color-background);
  transform: scale(1.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/***********************************************/
/* Below 1073px */
/***********************************************/

@media (max-width: 67em) {
  .heroContentBox {
    bottom: 10%;
  }

  .heroHeading {
    font-size: 4.4rem;
  }
}

/***********************************************/
/* Below 805px */
/***********************************************/
@media (max-width: 50em) {
  .heroContentBox {
    max-width: 70%;
  }
}

/***********************************************/
/* Below 450px */
/***********************************************/
@media (max-width: 28em) {
  .heroContentBox {
    bottom: 5%;
  }

  .heroContentBox {
    max-width: 100%;
  }
}
