@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Lexend+Deca:wght@100..900&display=swap");

:root {
  font-family: "Lexend Deca", sans-serif;
  --color-font-1: #ea580c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}
