@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --font-family: "Outfit", sans-serif;
  --color-font-1: #ea580c;
  --color-font-2: #49557e;
  --color-font-3: #747474;
  --color-font-white: white;
  --color-border: tomato;
  --color-background: #fff4f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.2;
}

html,
body {
  overflow-x: clip;
  display: flow-root;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

.container {
  padding: 0 2rem;
  max-width: 130rem;
  margin: 0 auto;
}

li {
  list-style: none;
}
