.navBarRightContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/*********************************/
/**BELOW 846px **/
/*********************************/
@media (max-width: 52em) {
  .signInContainer {
    display: none;
  }

  .navBarRightContainer {
    gap: 2rem;
  }
}
