.header {
  margin: 2rem 0;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  position: relative;
}

.navList {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 2rem;
  color: var(--color-font-2);
}
.navListItem {
  color: var(--color-font-2);
  padding-bottom: 1rem;
  transition: 0.3s;
}

.navListItem:global(.active) {
  border-bottom: 1.5px solid var(--color-font-2);
}

.signInItem {
  display: none;
}

.mobileMenuContainer {
  display: none;
}

.mobileMenu {
  font-size: 5.2rem;
  color: var(--color-font-2);
  cursor: pointer;
}

/*********************************/
/**BELOW 846px **/
/*********************************/
@media (max-width: 52em) {
  .navListContainer {
    cursor: pointer;
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    transform: translateX(-100%);
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .navOpen .navListContainer {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .navList {
    flex-direction: column;
    gap: 4.8rem;
  }

  .mobileMenuContainer {
    display: block;
  }

  .navListItem {
    text-transform: uppercase;
  }

  .signInItem {
    display: block;
  }
}
