.header {
  margin: 2rem 0;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.navList {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 2rem;
  color: var(--color-font-2);
}
.navListItem {
  color: var(--color-font-2);
}

.mobileMenuContainer {
  display: none;
}

.mobileMenu {
  font-size: 3rem;
  color: var(--color-font-2);
}
